{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link id="contact-form-7-css" rel="stylesheet" href="{% static 'main/front/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'main/backend/plugin/bootstrap-3.3.7/css/bootstrap.css' %}">
    <link id="style-css" rel="stylesheet" href="{% static 'main/front/css/style.css' %}">
    <!--<link rel="stylesheet" href="css/index.css" media="all">-->
    <!--<link  rel="stylesheet" href="css/style.css" media="all">-->
    <link id="jquery.fancybox-css" rel="stylesheet" href="{% static 'main/front/plugin/fancybox/jquery.fancybox.css' %}" media="all">
    <link id="highlightx-css" rel="stylesheet" href="{% static 'main/front/plugin/highlightx/highlightx.css' %}" media="all">
    <link rel="stylesheet" id="owl.carousel-css" href="{% static 'main/front/plugin/owlcarousel/css/owl.carousel.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="owl.theme-css" href="{% static 'main/front/plugin/owlcarousel/css/owl.theme.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="{% static 'main/front/plugin/font-awesome.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="digg_css-css" href="{% static 'main/front/css/style1.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'main/front/css/style(2).css' %}" type="text/css">
    <style type="text/css" id="custom-background-css">
        body.custom-background { background-color: #ffffff; }
        .fancybox-margin{margin-right:17px;}
        .footer-code {
            width:150px;
        }
    </style>
    <!--<script type="text/javascript" src="{% static 'main/front/plugin/owlcarousel/custom.js' %}"></script>-->
    <link rel="stylesheet" href="{% static 'main/front/css/style1.css'%}">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{% static 'main/front/plugin/font/css/font-awesome-ie7.min.css' %}">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="{% static 'main/front/plugin/html5shiv.js' %}"></script>
    <script src="{% static 'main/front/plugin/respond.min.js' %}"></script>
    <![endif]-->
<script type="text/javascript" src="{% static 'main/front/plugin/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/jquery-migrate-1.4.1.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/lazyload/jquery.lazyload.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/fancybox/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/fancybox/helpers/jquery.fancybox-buttons.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/fancybox/jquery.mousewheel-3.0.6.pack.js' %}"></script>
</head>
<body>
<header id="header" class="header clr">
    <div class="header-top inner clr">
        <hgruop class="logo-main">
            <h1 class="logo">
                <a href="#"><img src="{% static 'main/front/img/logo.jpg' %}" alt="吴少波_三思荟 | 新零售势道法术器模式"></a>
            </h1>
            <h4 class="xs-hidden">吴少波博客</h4>
        </hgruop>
        <div class="top-search xs-hidden xss-hidden">
            <form action="" id="search">
                <input type="text" id="s">
                <button class="btn-search"><i class="glyphicon glyphicon-search"></i></button>
            </form>
        </div>
        <div class="menu-button"><i class="fa fa-bars fa-3x"></i>
        </div>
    </div>
    <div class="main-nav xs-hidden">
        <div class="inner clr">
            <nav class="left-nav clr">
                <ul id="main-nav" class="header-menu-nav">
                    <li data-nav="-1" class="menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home"><a href="/index">首页</a></li>
                    <li data-nav="0" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/index?menu=0">取势第一</a></li>
                    <li data-nav="1" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/index?menu=1">道法术器</a></li>
                    <li data-nav="2" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/index?menu=2">3sd营销体系</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="nav-bg"></div>
    <div class="fixed xs-hidden">
        <div class="inner clr">
            <div class="left-nav clr">
                <ul id="fixed-nav" class="header-menu-nav">
                    <li data-nav="-1" class="menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home"><a href="/index">首页</a></li>
                    <li data-nav="0" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/index?menu=0">取势第一</a></li>
                    <li data-nav="1" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/index?menu=1">道法术器</a></li>
                    <li data-nav="2" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/index?menu=2">3sd营销体系</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-bg"></div>
        <div class="fixed xs-hidden">
            <div class="inner clr">
                <nav class="left-nav clr">
                    <ul id="fixed-list" class="header-menu-nav">
                        <li data-nav="-1" class="menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home">
                            <a href="/index">首页</a>
                        </li>
                        <li data-nav="0" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/index?menu=0">取势第一</a></li>
                        <li data-nav="1" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/index?menu=1">道法术器</a></li>
                        <li data-nav="2" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/index?menu=2">3sd营销体系</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <nav class="mini-nav visible-xs">
        <ul id="mini-nav" class="menu-mini-nav">
            <li data-nav="-1" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home"><a href="/index">首页</a></li>
            <li data-nav="0" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/index?menu=0">取势第一</a></li>
            <li data-nav="1" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/index?menu=1">道法术器</a></li>
            <li data-nav="2" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/index?menu=2">3sd营销体系</a></li>
        </ul>
    </nav>
</header>
<section class="xs-main index-main clr">
    <div class="inner">
        <div class="xs-left">
            <nav class="crumbs">现在位置： <a title="返回首页" href="/index">首页</a> &gt; <a href="" class="nav-tag" rel="category tag">关于三思荟</a> &gt;  正文 </nav>
            <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-wcy category-siwei">
				<header class="single-header">
					<h1></h1>
					<div class="single-meta">
						<div class="time"><i></i> <a href="javascript:void(0);"></a></div>
						<div class="touxiang">
							<a href="http://www.chenxincheng.com/author/xiaoming">
								<img alt="吴少波" src="" class="avatar avatar-26 photo" height="26" width="26">
								<span>吴少波</span>
							</a>
						</div>
						<div class="eye xs-hidden"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;<a href="javascript:void(0);">- views</a> </div>
					</div>
				</header>
                <div class="single-main">
					<blockquote id="introduction" style="font-size:16px;background-color:#F7F7F7;color:#2F2F2F;">
						<p></p>
					</blockquote>
				</div>
			</article>
        </div>
        <div class="xs-right sidebar xs-hidden xss-hidden">
            <div class="authorbox">
				<div class="author-top">
					<div id="author-img">
						<img alt="" src="" class="avatar avatar-96 photo" height="96" width="96">
					</div>
					<div class="au-name">
						<a title="" rel="author">陈信诚</a><br>
						<span class="au-title">总共0篇文章</span>
					</div> </div>
				<div class="author-word"><!--<span class="quotes q1"></span>
					营销作家，移动社交电商专家。私人微信：10532468。	<span class="quotes q2"></span>--></div>
			</div>
            <aside class="widget-container widget_text">
				<div class="si-title"><h2>个人微信</h2></div>
				<div class="textwidget">
					<img src="{% static 'main/front/img/codeimg.jpg' %}" border="0" width="128" height="128">
				</div>
			</aside>
        </div>
    </div>
</section>
<footer class="footer clr" id="footer">
    <div class="inner inner-footer clr">
        <div class="di-search">
            <form action="#">
                <input type="text" name="" autocomplete="off" value=""/>
                <button type="submit"></button>
            </form>
        </div>
        <div class="di-nav">
            <nav class="footer-nav">
                <ul class="footer-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="/front/article?id=-1">关于三思荟</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="#">合作事宜</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="left">
            <div class="f-logo xs-hidden">
                <h2 class="flogo"><a href="http://www.chenxincheng.com/" rel="home" title="陈信诚_企业军师 | 营销咨询 | 文案策划服务">陈信诚_企业军师 | 营销咨询 | 文案策划服务</a></h2>
            </div>
        </div>
        <div class="right xs-hidden">
            <nav class="footer-nav">
                <ul id="menu-%e5%ba%95%e9%83%a8-1" class="footer-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1925"><a href="http://www.chenxincheng.com/about">关于信诚</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1926"><a href="http://www.chenxincheng.com/hezuo">合作事宜</a></li>
                </ul>
            </nav>
            <div class="us right">
                <img src="{% static 'main/front/img/codeimg.jpg' %}" class="footer-code">
            </div>
        </div>
        <div class="widget-container widget_text friendLink">
            <div class="textwidget">
                <div class="textwidget">
                    <a style="color: #454545" href="/index" target="_blank">&nbsp;PS：</a>
                    <a style="color: #454545" href="/index" target="_blank">&nbsp;吴少波</a>
                    <a style="color: #454545" href="/index" target="_blank">&nbsp;取势第一</a>
                    <a style="color: #454545" href="/index" target="_blank">&nbsp;道法术器</a>
                    <a style="color: #454545" href="/index" target="_blank">&nbsp;3sd营销体系</a>
                    <a style="color: #454545" href="/index" target="_blank">&nbsp;关于三思荟</a>
                    <span style="font-family:Verdana, Geneva, sans-serif"> </span>
                </div>
            </div>
        </div>
    </div>
    <div class="copyr">
        <div class="inner">
            <p>Copyright</p>
            <script></script>
        </div>
    </div>
</footer>
<div id="shangxia">
    <div id="shang" title="↑ 返回顶部"></div>
    <div id="xia" title="↓ 移至底部"></div>
</div>
<script src="{% static 'main/front/js/detail.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/owlcarousel/js/custom.js' %}"></script>
</body>
</html>