{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link id="contact-form-7-css" rel="stylesheet" href="{% static 'main/front/css/index.css' %}">
    <link id="style-css" rel="stylesheet" href="{% static 'main/front/css/style.css' %}">
    <!--<link rel="stylesheet" href="css/index.css" media="all">-->
    <!--<link  rel="stylesheet" href="css/style.css" media="all">-->
    <link id="jquery.fancybox-css" rel="stylesheet" href="{% static 'main/front/plugin/fancybox/jquery.fancybox.css' %}" media="all">
    <link id="highlightx-css" rel="stylesheet" href="{% static 'main/front/plugin/highlightx/highlightx.css' %}" media="all">
    <link rel="stylesheet" id="owl.carousel-css" href="{% static 'main/front/plugin/owlcarousel/css/owl.carousel.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="owl.theme-css" href="{% static 'main/front/plugin/owlcarousel/css/owl.theme.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="{% static 'main/front/plugin/font-awesome.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="digg_css-css" href="{% static 'main/front/css/style1.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'main/front/css/style(2).css' %}" type="text/css">
    <style type="text/css" id="custom-background-css">
        body.custom-background { background-color: #ffffff; }
        .fancybox-margin{margin-right:17px;}
    </style>
    <!--<script type="text/javascript" src="{% static 'main/front/plugin/owlcarousel/custom.js' %}"></script>-->
    <link rel="stylesheet" href="{% static 'main/front/css/style1.css'%}">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{% static 'main/front/plugin/font/css/font-awesome-ie7.min.css' %}">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="{% static 'main/front/plugin/html5shiv.js' %}"></script>
    <script src="{% static 'main/front/plugin/respond.min.js' %}"></script>
    <![endif]-->
    <!-- <script src="js/plugin/lazyload/jquery-1.11.0.min.js"></script> -->
    <!-- <script src="js/plugin/lazyload/jquery.lazyload.min.js"></script> -->
</head>
<body>
<header id="header" class="header clr">
    <div class="header-top inner clr">
        <hgruop class="login-main">
            <h1 class="logo">
                <a href="#"><img src="{% static 'main/front/img/cs.jpg' %}" alt=""></a>
            </h1>
            <h4 class="xs-hidden">XXX博客</h4>
        </hgruop>
        <div class="login xs-hidden">
            <div class="logindiv">
                <div class="img">
                    <img src="{% static 'main/front/img/cs.jpg' %}" alt="" class="avatar avatar-36 phone avatar-default" height="36" width="36"/>
                </div>
                <span class="yh">用户</span>
                <i class="fa fa-caret-down fa-2"></i>
                <ul class="login-links">
                    <li data-sign="0" id="user-login" class="user-login">
                        <i class="fa fa-arrow-right"></i>
                        <span><a href="#" target="_blank">登陆</a></span>
                    </li>
                    <li data-sign="1" id="user-reg" class="user-reg">
                        <i class="fa fa-user-times"></i>
                        <span>
                            <a href="#" target="_blank">注册</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="top-search xs-hidden xss-hidden">
            <form action="" id="search">
                <input type="text" id="s">
                <button class="btn-search"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="menu-button"><i class="fa fa-bars fa-3x"></i>
        </div>
    </div>
    <div class="main-nav xs-hidden">
        <div class="inner clr">
            <nav class="left-nav clr">
                <ul class="header-menu-nav">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home"><a href="#">首页</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="#">营销观点</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="#">营销策略</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="#">实战</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="nav-bg"></div>
    <div class="fixed xs-hidden">
        <div class="inner clr">
            <div class="left-nav clr">
                <ul class="header-menu-nav">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home"><a href="#">首页</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="#">营销观点</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="#">营销策略</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="#">实战</a></li>
                </ul>
            </div>
            <div class="right-nav clr xss-hidden">
                <ul class="header-menu-nav">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="#">文章内容信息</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-bg"></div>
        <div class="fixed xs-hidden">
            <div class="inner clr">
                <nav class="left-nav clr">
                    <ul id="b" class="header-menu-nav">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                            <a href="#">首页</a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1215"><a href="#">营销观点</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1216"><a href="#">营销策略</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1214"><a href="#">实战案例</a></li>
                    </ul>
                </nav>
                <nav class="right-nav clr xss-hidden">
                    <ul id="a" class="header-menu-nav">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom">
                            <a target="_blank" href="#">文章内容信息</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <nav class="mini-nav visible-xs">
        <ul id="c" class="menu-mini-nav">
            <li id="menu-item-1469" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home"><a href="#">首页</a></li>
            <li id="menu-item-1471" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1471"><a href="#">营销观点</a></li>
            <li id="menu-item-1473" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1473"><a href="#">营销策略</a></li>
            <li id="menu-item-1472" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1472"><a href="#">实战案例</a></li>
        </ul>
    </nav>
</header>
<script>
    $(function() {

    $("img").lazyload({

        effect:"fadeIn"

      });

    });
</script>
<section class="xs-main index-main clr">
    <div class="inner">
        <div class="xs-left">
            <div class="top-list clr">
                <div class="slider">
                    <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 5040px; left: 0px; display: block; transition: all 400ms ease 0s; transform: translate3d(-504px, 0px, 0px);">
                                <div class="owl-item" style="width: 504px;">
                                    <div class="item">
                                        <div class="slider-img">
                                            <a href="#">
                                                <img src="{% static 'main/front/img/cs.jpg' %}" alt="" class="hdp-img">
                                            </a>
                                        </div>
                                        <div class="slider-content">
                                            <h2>
                                                <a href="#">文章内容信息文本文章内容信息文本文章内容信息文本文章内容信息文本文章内容信息文本</a>
                                            </h2>
                                            <div class="slidertext xs-hidden">文章内容信息文本</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 504px;">
                                    <div class="item">
                                        <div class="slider-img">
                                            <a href="#">
                                                <img src="{% static 'main/front/img/cs.jpg' %}" alt="" class="hdp-img">
                                            </a>
                                        </div>
                                        <div class="slider-content">
                                            <h2>
                                                <a href="#"></a>
                                            </h2>
                                            <div class="slidertext xs-hidden">文章内容信息文本</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 504px;">
                                    <div class="item">
                                        <div class="slider-img">
                                            <a href="#">
                                                <img src="{% static 'main/front/img/cs.jpg' %}" alt="" class="hdp-img">
                                            </a>
                                        </div>
                                        <div class="slider-content">
                                            <h2>
                                                <a href="#"></a>
                                            </h2>
                                            <div class="slidertext xs-hidden">文章内容信息文本</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 504px;">
                                    <div class="item">
                                        <div class="slider-img">
                                            <a href="#">
                                                <img src="{% static 'main/front/img/cs.jpg' %}" alt="" class="hdp-img">
                                            </a>
                                        </div>
                                        <div class="slider-content">
                                            <h2>
                                                <a href="#"></a>
                                            </h2>
                                            <div class="slidertext xs-hidden">文章内容信息文本</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 504px;">
                                    <div class="item">
                                        <div class="slider-img">
                                            <a href="#">
                                                <img src="{% static 'main/front/img/cs.jpg' %}" alt="" class="hdp-img">
                                            </a>
                                        </div>
                                        <div class="slider-content">
                                            <h2>
                                                <a href="#"></a>
                                            </h2>
                                            <div class="slidertext xs-hidden">文章内容信息文本</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-controls clickable">
                            <div class="owl-pagination">
                                <div class="owl-page"><span></span></div>
                                <div class="owl-page active"><span></span></div>
                                <div class="owl-page"><span></span></div>
                                <div class="owl-page"><span></span></div>
                                <div class="owl-page"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tt xs-hidden">
                    <div class="s-title"><img src="{% static 'main/front/img/cs.jpg' %}" alt="" style="width: 100%;display: none"></div>
                    <ul></ul>
                    <ul>
                        <li>
                            <h3><a href="#">文章内容信息</a></h3>
                        </li>
                        <li>
                            <h3><a href="#">文章内容信息</a></h3>
                        </li>
                        <li>
                            <h3><a href="#">文章内容信息</a></h3>
                        </li>
                        <li>
                            <h3><a href="#">文章内容信息</a></h3>
                        </li>
                        <li>
                            <h3><a href="#">文章内容信息</a></h3>
                        </li>
                        <li>
                            <h3><a href="#">文章内容信息</a></h3>
                        </li>
                    </ul>
                </div>
                <meta name="description" content="描述文">
                <meta name="keywords" content="关键字">
            </div>
            <div class="daodu clr">
                <div class="tip">
                    <h4>
                        <span class="yel">精选</span>
                        <span class="gra">导读</span>
                    </h4>
                </div>
                <ul class="dd-list">
                    <li>
                        <figure class="dd-img">
                            <a href="#">
                                <img src="{% static 'main/front/img/cs.jpg' %}" style="width: 168px;" alt="">
                            </a>
                        </figure>
                        <div class="dd-content">
                            <h2 class="dd-title"><a href="#">文章内容信息</a>
                            </h2>
                            <div class="dd-site xs-hidden">
                                文章文本
                            </div>
                        </div>
                    </li>
                    <li>
                        <figure class="dd-img">
                            <a href="#">
                                <img src="{% static 'main/front/img/cs.jpg' %}" style="width: 168px;" alt="">
                            </a>
                        </figure>
                        <div class="dd-content">
                            <h2 class="dd-title"><a href="#">文章内容信息</a>
                            </h2>
                            <div class="dd-site xs-hidden">
                                文章文本
                            </div>
                        </div>
                    </li>
                    <li>
                        <figure class="dd-img">
                            <a href="#">
                                <img src="{% static 'main/front/img/cs.jpg' %}" style="width: 168px;" alt="">
                            </a>
                        </figure>
                        <div class="dd-content">
                            <h2 class="dd-title"><a href="#">文章内容信息</a>
                            </h2>
                            <div class="dd-site xs-hidden">
                                文章文本
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-ajax">
                <div class="tip">
                    <h4>
                        <span class="yel">最新</span>
                        <span class="gra">资讯</span>
                    </h4>
                    <div class="count xs-hidden">
                        <i></i>
                        今日更新<strong>0</strong>篇
                        <em></em>
                    </div>
                </div>
                <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-wcy category-siwei">
                    <figure class="entry-img">
                        <span class="sort"><a href="#">社交电商</a></span>
                        <a href="#"><img src="{% static 'main/front/img/cs.jpg' %}" style="width: 210px;" alt=""></a>
                    </figure>
                    <div class="entry-content">
                        <h2 class="entry-title"><a href="#">文章内容信息文本</a></h2>
                        <div class="entry-site xs-hidden">
                            文章内容信息文本
                        </div>
                        <div class="entry-meta">
                            <div class="tags xs-hidden"><i></i></div>
                            <div class="time"><i></i><a href="#">2018 /10/4 22:34</a></div>
                            <div class="comments xs-hidden"><i class="fa fa-comments fa-1"><i></i><a href="#">沙发</a></i>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-wcy">
                    <figure class="entry-img">
                        <span class="sort"><a href="#">社交电商</a></span>
                        <a href="#"><img src="{% static 'main/front/img/cs.jpg' %}" style="width: 210px;" alt=""></a>
                    </figure>
                    <div class="entry-content">
                        <h2 class="entry-title"><a href="#">文章内容信息文本</a></h2>
                        <div class="entry-site xs-hidden">
                            文章内容信息文本
                        </div>
                        <div class="entry-meta">
                            <div class="tags xs-hidden"><i></i></div>
                            <div class="time"><i></i><a href="#">2018 /10/4 22:34</a></div>
                            <div class="comments xs-hidden"><i class="fa fa-comments fa-1"><i></i><a href="#">沙发</a></i>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-wcy">
                    <figure class="entry-img">
                        <span class="sort"><a href="#">社交电商</a></span>
                        <a href="#"><img src="{% static 'main/front/img/cs.jpg' %}" style="width: 210px;" alt=""></a>
                    </figure>
                    <div class="entry-content">
                        <h2 class="entry-title"><a href="#">文章内容信息文本</a></h2>
                        <div class="entry-site xs-hidden">
                            文章内容信息文本
                        </div>
                        <div class="entry-meta">
                            <div class="tags xs-hidden"><i></i></div>
                            <div class="time"><i></i><a href="#">2018 /10/4 22:34</a></div>
                            <div class="comments xs-hidden"><i class="fa fa-comments fa-1"><i></i><a href="#">沙发</a></i>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-wcy">
                    <figure class="entry-img">
                        <span class="sort"><a href="#">社交电商</a></span>
                        <a href="#"><img src="{% static 'main/front/img/cs.jpg' %}" style="width: 210px;" alt=""></a>
                    </figure>
                    <div class="entry-content">
                        <h2 class="entry-title"><a href="#">文章内容信息文本</a></h2>
                        <div class="entry-site xs-hidden">
                            文章内容信息文本
                        </div>
                        <div class="entry-meta">
                            <div class="tags xs-hidden"><i></i></div>
                            <div class="time"><i></i><a href="#">2018 /10/4 22:34</a></div>
                            <div class="comments xs-hidden"><i class="fa fa-comments fa-1"><i></i><a href="#">沙发</a></i>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-wcy">
                    <figure class="entry-img">
                        <span class="sort"><a href="#">社交电商</a></span>
                        <a href="#"><img src="{% static 'main/front/img/cs.jpg' %}" style="width: 210px;" alt=""></a>
                    </figure>
                    <div class="entry-content">
                        <h2 class="entry-title"><a href="#">文章内容信息文本</a></h2>
                        <div class="entry-site xs-hidden">
                            文章内容信息文本
                        </div>
                        <div class="entry-meta">
                            <div class="tags xs-hidden"><i></i></div>
                            <div class="time"><i></i><a href="#">2018 /10/4 22:34</a></div>
                            <div class="comments xs-hidden"><i class="fa fa-comments fa-1"><i></i><a href="#">沙发</a></i>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-wcy">
                    <figure class="entry-img">
                        <span class="sort"><a href="#">社交电商</a></span>
                        <a href="#"><img src="{% static 'main/front/img/cs.jpg' %}" style="width: 210px;" alt=""></a>
                    </figure>
                    <div class="entry-content">
                        <h2 class="entry-title"><a href="#">文章内容信息文本</a></h2>
                        <div class="entry-site xs-hidden">
                            文章内容信息文本
                        </div>
                        <div class="entry-meta">
                            <div class="tags xs-hidden"><i></i></div>
                            <div class="time"><i></i><a href="#">2018 /10/4 22:34</a></div>
                            <div class="comments xs-hidden"><i class="fa fa-comments fa-1"><i></i><a href="#">沙发</a></i>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-wcy">
                    <figure class="entry-img">
                        <span class="sort"><a href="#">社交电商</a></span>
                        <a href="#"><img src="{% static 'main/front/img/cs.jpg' %}" style="width: 210px;" alt=""></a>
                    </figure>
                    <div class="entry-content">
                        <h2 class="entry-title"><a href="#">文章内容信息文本</a></h2>
                        <div class="entry-site xs-hidden">
                            文章内容信息文本
                        </div>
                        <div class="entry-meta">
                            <div class="tags xs-hidden"><i></i></div>
                            <div class="time"><i></i><a href="#">2018 /10/4 22:34</a></div>
                            <div class="comments xs-hidden"><i class="fa fa-comments fa-1"><i></i><a href="#">沙发</a></i>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-wcy">
                    <figure class="entry-img">
                        <span class="sort"><a href="#">社交电商</a></span>
                        <a href="#"><img src="{% static 'main/front/img/cs.jpg' %}" style="width: 210px;" alt=""></a>
                    </figure>
                    <div class="entry-content">
                        <h2 class="entry-title"><a href="#">文章内容信息文本</a></h2>
                        <div class="entry-site xs-hidden">
                            文章内容信息文本
                        </div>
                        <div class="entry-meta">
                            <div class="tags xs-hidden"><i></i></div>
                            <div class="time"><i></i><a href="#">2018 /10/4 22:34</a></div>
                            <div class="comments xs-hidden"><i class="fa fa-comments fa-1"><i></i><a href="#">沙发</a></i>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div id="pagenavi">
                <a href="#" class="page-numbers">下一页</a>
            </div>
        </div>
        <div class="xs-right sidebar xs-hidden xss-hidden">
            <div id="g-sidebar-top" class="ad">
                <a href="#"><img src="{% static 'main/front/img/cs.jpg' %}" alt=""></a>
            </div>
            <aside class="date">
                <div class="si-title">
                    <h2>即将上市，敬请关注！</h2>
                </div>
                <ul></ul>
            </aside>
            <aside class="widget-container widget_text">
                <div class="si-title"><h2>限时免费领取</h2></div>
                <div class="textwidget">
                    <img src="#" border="0" width="158" height="158" alt="">
                    <script></script>
                </div>
            </aside>
            <aside id="rencent-posts-2" class="widget-container widget_recent_entries">
                <div class="si-title">
                    <h2>近期文章</h2>
                </div>
                <ul>
                    <li><a href="#">拆书|陈信诚《转型王道》的营销体系(多图)</a></li>
                    <li><a href="#">拆书|陈信诚《转型王道》的营销体系(多图)</a></li>
                    <li><a href="#">拆书|陈信诚《转型王道》的营销体系(多图)</a></li>
                    <li><a href="#">拆书|陈信诚《转型王道》的营销体系(多图)</a></li>
                    <li><a href="#">拆书|陈信诚《转型王道》的营销体系(多图)</a></li>
                </ul>
                <aside id="hot_post-2" class="widget-container widget_hot_post">
                    <div class="si-title">
                        <h2>热门文章</h2>
                    </div>
                    <ul class="remen">
                        <li>N/A</li>
                    </ul>
                </aside>
                <!--<aside id="text-25" class="widget-container widget_text">
                    <div class="textwidget">
                        &lt;!&ndash;<iframe width="100%" class="share_self" frameborder="0" scrolling="no" src="#"></iframe>&ndash;&gt;
                    </div>
                </aside>-->
                <!--<aside id="text-22" class="widget-container widget_text">
                    <div class="si-title">
                        <h2>产品中心</h2>
                    </div>
                    <div class="textwidget">
                        <p>
                            <a href="#">文章内容信息文本</a><br>
                            <a href="#">文章内容信息文本</a><br>
                            <a href="#">文章内容信息文本</a><br>
                            <a href="#">文章内容信息文本</a><br>
                        </p>
                    </div>
                </aside>-->
            </aside>
            <!--<aside id="as1" class="widget-container widget_text">
                <div class="textwidget">
                    &lt;!&ndash;<iframe width="100%" class="share_self" frameborder="0" scrolling="no" src=""></iframe>&ndash;&gt;
                </div>
            </aside>-->
            <!--<aside id="as2" class="widget-container widget_text">
                <div class="si-title"><h2>产品中心</h2></div>
                <div class="textwidget">
                    <p><a title="《销售信@魔力攻心密码2.0》" target="_blank" href="http://www.chenxincheng.com/yes.html">销售信@魔力攻心密码</a><br>
                        <a title="《自动化赚钱系统》" target="_blank" href="http://www.chenxincheng.com/jz.html">自动化赚钱系统</a><br>
                        <a title="《一篇文案从0开始到月入3万·私密档案®》" target="_blank" href="http://www.chenxincheng.com/bg.html">营销·私密档案®</a><br>
                        <a title="《转型王道：微商、社交电商实战系统》" target="_blank" href="http://www.chenxincheng.com/1784.html">《转型王道：微商、社交电商实战系统》</a></p>
                </div>
            </aside>-->
        </div>
    </div>
</section>
<footer class="footer clr" id="footer">
    <div class="inner inner-footer clr">
        <div class="di-search">
            <form action="#">
                <input type="text" name="" autocomplete="off" value=""/>
                <button type="submit"></button>
            </form>
        </div>
        <div class="di-nav">
            <nav class="footer-nav">
                <ul class="footer-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="#">关于信诚</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="#">合作事宜</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="left">
            <div class="f-logo xs-hidden">
                <h2 class="flogo"><a href="http://www.chenxincheng.com/" rel="home" title="陈信诚_企业军师 | 营销咨询 | 文案策划服务">陈信诚_企业军师 | 营销咨询 | 文案策划服务</a></h2>
            </div>
        </div>
        <div class="right xs-hidden">
            <nav class="footer-nav">
                <ul id="menu-%e5%ba%95%e9%83%a8-1" class="footer-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1925"><a href="http://www.chenxincheng.com/about">关于信诚</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1926"><a href="http://www.chenxincheng.com/hezuo">合作事宜</a></li>
                </ul>
            </nav>
            <div class="us right">
                <a class="weibo" href="http://weibo.com/234039030" target="_blank"><i class="fa fa-weibo fa-4"></i></a>
                <a class="qq" href="http://www.chenxincheng.com/wp-content/themes/leifw/img/qq.png"><i class="fa fa-qq fa-4"></i></a>
                <a class="weixin" href="http://www.chenxincheng.com/wp-content/themes/leifw/img/weixin.png"><i class="fa fa-weixin fa-4"></i></a>
            </div>
        </div>
        <div class="widget-container widget_text friendLink">
            <div class="textwidget">
                <div class="textwidget">
                    <a style="color: #454545" href="http://www.chenxincheng.com/" target="_blank">&nbsp;PS：</a>
                    <a style="color: #454545" href="http://www.chenxincheng.com/" target="_blank">&nbsp;陈信诚</a>
                    <a style="color: #454545" href="http://www.chenxincheng.com/" target="_blank">&nbsp;营销文案</a>
                    <a style="color: #454545" href="http://www.chenxincheng.com/" target="_blank">&nbsp;克亚营销</a>
                    <a style="color: #454545" href="http://www.chenxincheng.com/sitemap_baidu.xml" target="_blank">&nbsp;百度地图</a>
                    <a style="color: #454545" href="http://www.chenxincheng.com/sitemap.html" target="_blank">&nbsp;谷歌地图</a>
                    <a style="color: #303030" href="http://www.chenxincheng.com/" target="_blank">好网址</a>
                    <a style="color: #303030" href="http://www.chenxincheng.com/" target="_blank">网址大全</a>
                    <a style="color: #303030" href="http://www.chenxincheng.com/" target="_blank">网站大全</a>
                    <a style="color: #303030" href="http://www.lfdian.com/" target="_blank">网址之家</a>
                    <a style="color: #303030" href="http://www.chenxincheng.com/" target="_blank">春花导航</a>
                    <a style="color: #303030" href="http://www.chenxincheng.com/" target="_blank">风云榜</a>
                    <a style="color: #303030" href="http://www.chenxincheng.com/" target="_blank">购物导航</a>
                    <span style="font-family:Verdana, Geneva, sans-serif"> </span>
                </div>
            </div>
        </div>
    </div>
    <div class="copyr">
        <div class="inner">
            <p>Copyright</p>
            <script></script>
        </div>
    </div>
</footer>
<div id="shangxia">
    <div id="shang" title="↑ 返回顶部"></div>
    <div id="xia" title="↓ 移至底部"></div>
</div>
<script type="text/javascript" src="{% static 'main/front/plugin/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/jquery-migrate-1.4.1.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/lazyload/jquery.lazyload.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/fancybox/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/fancybox/helpers/jquery.fancybox-buttons.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/fancybox/jquery.mousewheel-3.0.6.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/owlcarousel/js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'main/front/plugin/owlcarousel/js/custom.js' %}"></script>
</body>
</html>