{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0 user-scalable=no">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>反馈管理</title>
    <!--<link rel="icon" href="../../static/assets/logo.png" type="image/x-icon">-->
    <link rel="stylesheet" href="{% static 'main/backend/plugin/bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/backend/css/variable.css' %}">
    <link rel="stylesheet" href="{% static 'main/backend/plugin/font/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/backend/plugin/bootstrap-table.1.11.1/bootstrap-table.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/backend/plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/backend/plugin/pnotify/pnotify.css' %}">
    <link rel="stylesheet" href="{% static 'main/backend/plugin/pnotify/pnotify.brighttheme.css' %}">
    <link rel="stylesheet" href="{% static 'main/backend/plugin/pnotify/pnotify.buttons.css' %}">
    <link rel="stylesheet" href="{% static 'main/backend/css/common.css' %}">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{% static 'main/backend/plugin/font/css/font-awesome-ie7.min.css' %}">
    <![endif]-->
</head>
<body>
<div id="main">
    <div class="modal fade" id="lookInfo" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">查看反馈内容</h4>
                </div>
                <div id="infoDetail" class="modal-body">

                </div>
                <div class="modal-footer">
                    <!--底部操作-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <!--<button type="button" class="btn btn-primary">确认导入</button>-->
                </div>
            </div>
        </div>
    </div>
    <div id="data-part" class="clearfix">
        <div id="toolbar" class="btn-toolbar">
            <button class="btn btn-primary" onclick="">添加文章 <i class="icon-zoom-in"></i></button>
            <!--<button class="btn btn-primary" onclick="markFeedBack()">标记反馈意见 <i class="icon-star"></i></button>
            <button class="btn btn-success" onclick="solveFeedBack()">标记为已解决 <i class="icon-check"></i></button>-->
            <button class="btn btn-danger" onclick="">删除文章 <i class="icon-remove"></i></button>
        </div>
        <table id="table" data-classes="table table-hover table-responsive table-sm">
            <thead>
            <tr>
                <th data-checkbox="true" data-field="state"></th>

                <th data-title="文章标题" data-field="title" data-align="center"></th>
                <th data-title="发布日期" data-field="in_date" data-align="center"></th>
                <th data-title="文章浏览数" data-field="view" data-align="center"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script src="{% static 'main/backend/plugin/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'main/backend/plugin/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/backend/plugin/bootstrap-table.1.11.1/bootstrap-table.min.js' %}"></script>
<script src="{% static 'main/backend/plugin/bootstrap-table.1.11.1/locale/bootstrap-table-zh-CN.min.js' %}"></script>
<script src="{% static 'main/backend/plugin/pnotify/pnotify.js' %}"></script>
<script src="{% static 'main/backend/plugin/pnotify/pnotify.buttons.js' %}"></script>
<script src="{% static 'main/backend/plugin/layer/layer.js' %}"></script>
<script src="{% static 'main/backend/plugin/bootstrap-datetimepicker/js/moment.js' %}"></script>
<script src="{% static 'main/backend/plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
{#<script src="{% static 'main/backend/js/common.js' %}"></script>#}
<script src="{% static 'main/backend/js/article.js' %}"></script>
</body>
</html>